<div>

  <div><b>Plan Name:</b> <%= shopping_cart_item.item.name %> | <a href="http://localhost:3000/plans?utf8=%E2%9C%93&q%5Bsqfoot_gteq%5D=&q%5Bsqfoot_lteq%5D=&q%5Bbathrooms_eq%5D=&q%5Bhalf_bath_eq%5D=&q%5Bsuite_eq%5D=&q%5Bmedia2_eq%5D=&q%5Bstudy2_eq%5D=&q%5Bcasita2_eq%5D=&q%5Bview_eq%5D=&q%5Bname_cont%5D=<%= shopping_cart_item.item.name%>&q%5Bliving_eq%5D=&q%5Bdining_eq%5D=&q%5Bgarage_eq%5D=&q%5Bstories_eq%5D=&q%5Bstyle_eq%5D=&commit=Search">Go to Plan</a> </div>
  <div><b>Plan price per square foot:</b> $<%= shopping_cart_item.item.price %></div><br />

</div>
