<div class="container">
	<div class="row">
<div class="nuvolio span12">
	
	<center><h3>Presented by Nuvolio</h3></center> 
	<%= link_to image_tag("BlueArchitect.jpg", :align => 'left') %>
	<br />
	<p>
		<b><%= link_to "Nuvolio", "#" %></b> was founded at the beginning of 2013 in Austin, TX and seeks to connect architects with home buyers.  We seek to simplify the design process, and help you get the home you want at the price you can afford.  When buying our plans you can talk with architects, have modifications made, or buy a plan as is.   
	</p>
<br /><br />		
	<p>
The plans are complete architectural drawings that are ready for a custom home builder to immediately start to build off of.  With our vast selection of plans you are sure to find one that fits your budget and your dream home.  
	</p><br /><br />
	<p>
	If you are unsure if a plan will fit the lot you are building on, fee free to save the plan and email it to your builder.  we can even set up a call between an architect and builder to guarantee success. 
		</p><br /> 
		
</div>
</div>
</div>


