<div class="container">
	<div class="row">

		<h1><center>Custom Modifications</center></h1><br /><br />
		<h4><red>Do you love the layout, but would like a specific style of home?</red></h4>

		<p>No problem, the elevation and style of your home can be custom designed to accommodate just about every floor plan that you see.</p><br />

		 

		<h4><red>Have you found the right design, but would like to make some adjustments to the layout or to the elevation?</red></h4>

		<p>No problem, your adjustments can be made at a reasonable hourly rate.<p><br />
		 
		<h4><red>Do you need a site plan?</red></h4>
		<p>No problem, the firm that designed your plan can work with your survey to provide you with what you need. Or you can work with the designer of your choice to create this page of the drawings.</p><br /><br />

		<h3><center>Ready to find your next house plan?</center></h3> <p><center><a href="/plans" class="btn btn-primary btn-lg">Search Our Plans</a></center></p> <br /><br />

	</div>
</div>
