<div class="container">
    <div class="row">

	<h1><center>More Info About Your Purchase</center></h1><br /><br />

	<p>Generally speaking you would spend $2.5 to $5+ per framed foot to design any of our plans from scratch.  Our prices range between $0.75 - $1.15 per framed square foot.</p> 

	<h4><red>Will this plan build out within your budget?</red></h4>

	<p>Send us the plan you are interested in and we can go over an estimated price to build.  Note however that many plans can have a very dramatic range of possible build prices depending upon the options you choose to go with.  <%= link_to "contact us here", "mailto: rick_barkley@nuvola-networks.com" %></p>


	<h4><red>Once you have purchased your plan, you will receive detailed drawings that your builder can use to send out to subcontractors.</red></h4> <br /><br />


	  <h4><center>What Does My Purchase Include?</center></h4>

	<p>Your purchase includes the following pages that are stamped by licensed architects within the state of Texas.</p>
	<ul>
		<li><b>One hour consultant with the Architect who designed the plan.</b> </li>
			<ul>
				<li>If after the consultation you are not 100% satisfied you can return the plan for a full refund!</li>
			</ul>

		<li>The floor plan for all levels.</li>

		<li>4 sides exterior elevations.</li>

		<li>Cabinet Layout.</li>

		<li>Roof layout.</li>

		<li>Mechanical layout including electrical and plumbing locations.</li>


	 </ul>

	<h3><red><center>Any of these pages can be custom tweaked for an hourly fee if desired.</center></red></h3><br /><br />
<h3><center>Ready to find your next house plan?</center></h3> <p><center><a href="/plans" class="btn btn-primary btn-lg">Search Our Plans</a></center></p> <br /><br />
	
	</div>

</div>

