<div class="container">
	<div class="row">

		<h1><center>Answers to your Questions</center></h1><br /><br />

<p><b><red>Question:</b> Do I have everything I need to build my new home?</red></p>

<p><b>Answer:</b></p>

<p>In some unrestricted areas, this is everything you will need to build, along with specifications if desired.</p>

<p>However, in many locations, depending upon governing body requirements, you will need a survey (performed by a land surveyor) and a site plan specific to your lot. This can be created by the architect or designer of your choice, when given a survey of your property. Upon purchasing this plan, the architect that designed it may be willing to provide you with a site plan for a fee.</p>

<p><b><red>Question:</b> Do I need a site plan?</red></p>
<p><b>Answer:</b></p>

<p>Many times this is a requirement and the firm that designed your plan my be willing to work with your survey to provide you with a site plan for an additional fee.  Or, you can work with the designer of your choice to create a site plan.  You will need to check with your local building athorities to confirm if you need one or not.</p>
<!--
<p><b>Aditional Info:</b> In some locations the governing bodies may require a foundation design. Some locations may also require a framing design. The engineer or designer of your choice will use your drawings to create a foundation design and framing layout if needed or if desired to satisfy local requirements. If you went to an architect to design it from scratch, you would still need to send your drawings to an engineer if required by the local governing bodied</p>

<p>Some deed restricted communities will request a drainage plan and or landscape plan to be created by the landscaper, designer or engineer of your choice.</p>
-->
<p><b><red>Question:</b>What should I consider when selecting a plan for my property?</red></p>

<p><b>Answer:</b></p>

<p>You will want to evaluate your survey or plat map to determine the width and depth of the lot, while noting any building setbacks and utility easements.</p>

<p>Some building departments will allow the overhang to extend beyond the building setbacks & others will not.</p>
<p>Select a design that complements the topography of your lot, whether that is single story, traditional multiple story, walkout basement, upside down plan or plan with a traditional basement.</p>

<p>You will want to have an understanding of the local building restrictions if applicable. Some restrictions to keep in mind are maximum height requirements, square footage & garage size / entry point requirements & masonry requirements.  Some areas may require the style to fall within a certain genre. Often times, local officials will request certain details to be noted on the site plan, such as ridge height, drainage arrows or impervious cover calculations among other things.</p>

<p>If needed, our plans can often be easily modified to adhere to your local requirements.
If possible, we recommend engaging a builder that is familiar with the area.</p>

<p>If you are building within the Austin and surrounding areas, feel free to consult <a href="http://www.silvertoncustomhomes.com">Silverton Cusotom Homes</a> or <%= mail_to "rick_barkley@nuvola-networks.com", "contact us" %> for further assistance.</p><br /><br />

<p><b><red>Question:</b>What else might I need?</red></p>
<p><b>Answer:</b></p>
<p>While not required in all areas we recommend the following:<p/>
	<ul>
		<li>An engineered foundation design</li>
		<li>An engineered framing design</li>
		<li>An engineered trussing design</li>
		<li>A landscape design</li>
	</ul>
<br /><br />


<h3><center>Ready to find your next house plan?</center></h3> <p><center><a href="/plans" class="btn btn-primary btn-lg">Search Our Plans</a></center></p> <br /><br />

	</div>
</div>