<div class="container">
	<div class="row">

		<h1><center>Answers to your Questions</center></h1><br /><br />

<p><b>Question:</b> Do I have everything I need to build my new home?</p>

<p><b>Answer:</b></p>

<p>In some unrestricted areas, this is everything you will need to build, along with specifications if desired.</p>

<p>In many locations, depending upon governing body requirements, you will need a survey (performed by a land surveyor) and a site plan specific to your lot. This can be created by the architect or designer of your choice, when given a survey of your property. Upon purchasing this plan, the architect that designed it may be willing to provide you with a site plan for a fee.</p>

<p><b>Aditional Info:</b> In some locations the governing bodies may require a foundation design. Some locations may also require a framing design. The engineer or designer of your choice will use your drawings to create a foundation design and framing layout if needed or if desired to satisfy local requirements. If you went to an architect to design it from scratch, you would still need to send your drawings to an engineer if required by the local governing bodied</p>

<p>Some deed restricted communities will request a drainage plan and or landscape plan to be created by the landscaper, designer or engineer of your choice.</p>

<p><b>Question:</b> I own my lot, what do I need to be aware of?</p>
<p><b>Answer:</b></p>

<p>You will want to evaluate your survey to determine the width and depth of the lot, while noting any building setbacks and utility easements. Some areas will allow the overhang to extend beyond the building setbacks others will not. Select a design that complements the topography of your lot, whether that is single story, traditional multiple story, a walkout basement, upside down or plan with a traditional basement. You will want to have an understanding of the local building restrictions if applicable. Some restrictions to keep in mind are maximum height requirements, square footage / garage size and location requirements, masonry requirements and some areas may require the style to fall within a certain genre.
Often times, local officials will request certain details to be noted on the site plan, building height, drainage arrows or impervious cover calculations among other things. The architect that designed your plan will often be willing to create the site plan for a fee or they can refer you to a local architect to assist you that element.
If needed, many of these details can easily be modified by the architect to meet local requirements. 
If possible, we recommend engaging a builder that is familiar with the area. If you are building within the Austin and surrounding area, feel free to consult <a href="http://www.silvertoncustomhomes.com">www.silvertoncustomhomes.com"</a> or <%= mail_to "rick_barkley@nuvola-networks.com", "contact us" %>.</p><br /><br />

	</div>
</div>