// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#texas {
	display: none;
}

#stripe_error {
	background-color: #c43c35;
    background-repeat: repeat-x;
    color: #ffffff;
}
