// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Full Page Image Header Area */

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;


}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 7.5em;
  font-weight: 700;

}

#side-text {
background:url(overlay.png) repeat;
	color: #fff;
	height: 100%;
	padding:10px;
	margin:10px;
	border-radius:10px;

}

#side-text p {
  text-align: center;
  font-size:175%;
  line-height: 1.5em;
  font-family: "CrimsonRoman", "Times New Roman", Georgia, serif;

  }

#side-text li {
	font-size:100%;
	line-height: 1.5em;
   font-family: "CrimsonRoman", "Times New Roman", Georgia, serif;
}
side-text

#side-text img {

	border-radius: 10px;
	text-align:center;
}

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url("Exterior.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.header h1 {
  font-family: "CrimsonRoman", "Times New Roman", Georgia, serif;
  color:#fff;
  text-shadow: 5px 0px #000;
}

.header h3 {
font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
font-weight: 500;
font-style: normal;
font-size:5.5em;
text-align: center;
clear: both;
line-height: 1.0em;
margin-bottom: 20px;
letter-spacing: -2px;
  color:#fff;
  text-shadow: 3px 0px #000;

}
red {
  color: #8A0A0A;
  font-size: 110% !important;
}


/* Services */

.services {
  background: #7fbbda;
  padding: 50px 0;
  color: #fff;
}
.services a {

  color: #fff !important;
}
.services p {
  color: #fff !important;  
}

.services a:hover {

  color: #357EC7 !important;
  text-decoration: none !important;
}

.services h2 {
	color: #fff;
	margin-right:-20px;
}


i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}




.home-top1 {
min-width: 175px;

height: 325px;
font-size:22px;
background: #fff !important;
box-shadow: 0px 0px 0px #888888 !important;
border: 2px solid #933333;
border-radius: 5px;
text-align: center;
margin: 23px;
padding:3px;
font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
}
.home-top1 h4 {
font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
font-size:24px !important;
line-height: 1.0em;
margin-bottom:10px;
}
.home-top1 p {
font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
}

.home-top1 span {
font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
font-size:18px;
color: #8FBBBF;
border:none !important;
box-shadow: 0px 0px 0px #888888 !important;
}



#pic {
margin-right: 30px;
margin-bottom: 10px;
}

#home-search {
	text-align: center;
	line-height:2.0em;
	font-size:18px;
	text-decoration:none;
	font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
	font-weight:700;
}
.searh-form .select {
	width: 5em;
}
.popular {

display: block;
text-align:center;
margin-left: auto;
margin-right: auto;
padding-right:10px;
}

.popular p {
font-size:200%;
font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
font-weight: 500;
letter-spacing: -2px;
color: #666;


}
.slideshow img{
border: 2px solid #888;
text-align: center;

}
#pic img {

border: 2px solid #800000;

box-shadow: 0px 0px 0px #000 !important;
margin-bottom: 20px;
-webkit-border-radius: 6px 6px 6px 6px;
 -moz-border-radius: 6px 6px 6px 6px;
 border-radius: 6px 6px 6px 6px;
}
#pic li {
color: #800000 !important;
}

.btn btn-lg btn-primary{
font: #fff !important;
box-shadow: 0px 0px 0px 0px #000 !important;
}

.more-info {
padding-left:100px;
padding-right:100px;
padding-top:50px;
padding-bottom:50px;
text-align:center;
font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
font-weight: 500;

font-weight: 400;
font-size: 22px;
line-height: 1.3em;
color: #666;
}

.more-info h3 {
font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
font-weight: 500;
font-style: normal;
font-size: 58px;
clear: both;
line-height: 1.0em;
margin-bottom: 20px;
letter-spacing: -2px;
color: #232323;
}

.astric {
text-align: center;
color: #666;
text-size: 32px;
margin-top:20px;
margin-bottom: 20px;
letter-spacing: 8px;
}

.questions {
display: block;
text-align: center;
font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
}

.nuvolio img {
margin:10px;
border-radius:5px;
}
p {
font-family: "CrimsonSemibold", "Times New Roman", Georgia, serif;
font-weight: 400;
font-size: 22px;
line-height: 1.3em;
color: #666;
}

#design_visions{
  background: #000;
  border-radius: 5px;

}



