// Place all the styles related to the Plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.border {
border-top: 2px solid #800000;
margin-left: -5px;
align: center;

}
#searchfield {
display: block;

margin-left:30px;
line-height:1.5em;


}
.mselectfield {
    width: 50px !important;
}

#searchfield2 {
display: block;
margin-left:40px;
line-height:1.5em;

}
#searchfield p{
    font-size: 16px;
}

#searchfield2 p{
    font-size: 16px;
}



#image {
margin-right: 30px;
float: right !important;
}
#image img {
box-shadow: 5px 5px 5px #888 !important;
position: relative;

margin-right: 20px;
margin-top: 10px;
margin-bottom: 10px;
-webkit-border-radius: 6px 6px 6px 6px;
 -moz-border-radius: 6px 6px 6px 6px;
 border-radius: 6px 6px 6px 6px;
}

#picture img{
border-radius: 6px 6px 6px 6px;
box-shadow: 5px 5px 5px #888 !important;    
}
.lightbox {
    position:fixed;  /*keeps the lightbox window in the current viewport */
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url(overlay.png) repeat;
    text-align:center;
}
.lightbox p {
    text-align:right !important;
    color:#fff !important;
    margin-right:20px !important;
    font-size:12px !important;
}
.lightbox img {
    box-shadow:0 0 25px #111 !important;
    -webkit-box-shadow:0 0 25px #111;
    -moz-box-shadow:0 0 25px #111;
    max-width: 840px !important;
    max-length: 100% !important;
    margin-left:auto !important;
    margin-right: auto !important;
}

h3 a {
color: #000;
}

#filter-search {
    display:none;
}

#pics img{
    text-align: cnter;
    display: inline-block;
    margin:8px;
    -webkit-border-radius: 6px 6px 6px 6px;
     -moz-border-radius: 6px 6px 6px 6px;
     border-radius: 6px 6px 6px 6px;
     box-shadow: 3px 3px 3px #888 !important;
}
#purchase {
    max-width:200px;
    display:inline-block;
}
#secondgroup {
    display:none;
}
#thirdgroup {
    display:none;
}
/*
#down {
    display:none;
}
*/
i.up-icon {
    font-size: 34px;
}
i.down-icon {
    font-size: 34px;
}



#sidebar_show {
    border: solid #888 2px;
    border-radius: 6px;
}