<h1><center>New plan</center></h1><br /><br /><br />
      <div class="container">
        <div class="row">
<%= render 'form' %>
<hr>
<div id="row-five" class="col-md-12">
<%= link_to 'Back', plans_path, class: "btn btn-large btn-primary" %><br /><br /><br /><br />
</div>
</div>
</div>