<footer class="footer">
  <small>
Created by  <a href="http://www.rickbarkleydesign.com">Rick Barkley Design</a> &copy; | Powered by <a href="http://www.nuvola-networks.com">Nuvola Networks</a>
  </small>
  <menu>
    <ul>
      <li><%= link_to "FAQs", '/questions' %></li> 
      <li><%= link_to "About", '/about' %></li>
      <li><%= link_to "Contact", '/contact' %></li>
    </ul>
  </menu>
        <div id="nnlogo" class="col-md-12 text-center">
   <center><%= link_to image_tag("nuvolio2.png", alt: "Nuvolio"), root_path %></center>
   
  </div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43996960-4', 'nuvolio.com');
  ga('send', 'pageview');

</script>
</footer>
